{{ $gallery := "" }}
{{ $images :=  where (.Resources.ByType "image") "Params.hidden" "ne" true }}
{{ $externalImages := .Params.images | default slice }}
{{ $videos := .Params.videos | default slice }}

{{ $hasLocalImages := gt (len $images) 0 }}
{{ $hasExternalImages := gt (len $externalImages) 0 }}
{{ $hasVideos := gt (len $videos) 0 }}
{{ $hasContent := or $hasLocalImages (or $hasExternalImages $hasVideos) }}

{{ if $hasContent }}
  {{ $covers := where (.Resources.ByType "image") "Params.cover" "eq" true }}
  {{ $cover := "" }}
  {{ if ge (len $covers) 0 }}
    {{ $cover = index $covers 0 }}
  {{ end }}

  {{ $thumbnail := "" }}
  {{ $color := "transparent" }}

  {{ if $hasLocalImages }}
    {{/* Use local image for thumbnail */}}
    {{ $featured := $cover | default ((.Resources.ByType "image").GetMatch (.Params.featured_image | default "*feature*")) | default (index $images 0) }}
    {{ $thumbnail = $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{ $color = index $thumbnail.Colors 0 | default "transparent" }}
  {{ else if $hasExternalImages }}
    {{/* For external images, create a pseudo-thumbnail dict */}}
    {{ $firstImage := index $externalImages 0 }}
    {{ $thumbnail = dict "RelPermalink" $firstImage.url "Width" 600 "Height" 400 }}
    {{ $color = "#e0e0e0" }}
  {{ else if $hasVideos }}
    {{/* For videos, use a placeholder */}}
    {{ $thumbnail = dict "RelPermalink" "" "Width" 600 "Height" 338 }}
    {{ $color = "#000000" }}
  {{ end }}

  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = add (len $images) (add (len $externalImages) (len $videos)) }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $localCount := len (where (.Resources.ByType "image") "Params.hidden" "ne" true) }}
      {{ $externalCount := len (.Params.images | default slice) }}
      {{ $videoCount := len (.Params.videos | default slice) }}
      {{ $imageCount = add $imageCount (add $localCount (add $externalCount $videoCount)) }}
    {{ end }}
  {{ end }}

  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
